/* Utility Classes */
.text-primary{
    color: #0c2e8a;
}
.text-secondary{
    color: #50d8af !important;
}
#active{
    color: #50d8af !important;

}
.container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1024px;
}

.border{
    border-left: 2px solid rgb(224, 224, 224);
    padding-left: 12px;

}
.btn{
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    font-size: 1rem;
    transition:  .5s  ease-in-out;
    margin: 1rem;
    width: 15rem;
}
.btn-primary{
    background:#0c2e8a;
    border: #0c2e8a;
}
.btn-primary:hover{
    color: #0c2e8a;
    background: rgba(0,0,0,0);
    border: #0c2e8a solid ;
}

.btn-secondary{
    background: #50d8af ;
    border: #50d8af;
}

.btn-secondary:hover{
    color: #50d8af;
    background: rgba(0,0,0,0);
    border: #50d8af solid;
}